## MongoDB

In [ ]:
It is NoSQL dataBase

JSON like structure

JSON >> Dict
Dict >> Key and Values 
Values >> It can be nested dict

In [ ]:
1. Data Gathering:
    Data Engineers
    
    Raw Data
    
MySQL    >> Relational DataBase(Tabular form >> )
    Tabular form :(tables)
        1. Rows
        2. Columns
        
MongoDB  >> Non-Relation Relational DataBase
    Non-Tabular Form (Collections)
        1. Keys and Values
        2. Document Based Database
    

Read Data from DataBase:
    Client >> 20 Tables

    1M rows
    Phase1: 
        Read all Data
        Select Required Tables on the basis of domain knowledge
        5 Tables or 5 collection


    Phase2:
        table1 >> 5 >> 5 
        table2 >> 10 >> 8
        table3 >> 8 >> 5
        table4 >> 10 >> 7
        Table5 >> 15 >> 10
        48 >> 35
        SQL Join Queries for 35 columns

    Phase3:
        Feature Selection
        Final Model >> 30
        Update queries

        
Save data in DataBase:
    Flask APIs:
        Registration (Save)
        Login        (Access)
        prediction : Insert Values for prediction and Save Predicted results
        Upload Documents (PAN Card):
            Save image paths
            Save attributes(extracted fields)

        
DataBase >> Database
SQL    >> NoSQL
Table  >> Collection
Rows   >> Document (Rows data)
Column >> Keys

In [ ]:
1. Create Database
2. Create Collection
3. Documents/Records

In [ ]:
1. Create Database
2. Insert Data
3. Update
4. Delete
5. Read Data
6. Sorting

### Required Application

In [ ]:
https://www.mongodb.com/try/download/community
    
pymongo

pip install pymongo
conda install -c anaconda pymongo

1. MongoDB Compass
2. NOSQL Booster >> https://nosqlbooster.com/downloads
    
Default MongoDB port : 27017

In [2]:
import pymongo

mongo_client = pymongo.MongoClient("mongodb://localhost:27017")
mongo_client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

## 1. Create DataBase

In [4]:
database_name = 'project_db' # 'insurence_db', 'iris_db', 'diabetes_db', 'loan_db'

db = mongo_client[database_name]
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'project_db')

### Check DataBase

In [138]:
db_names = mongo_client.list_database_names()
db_names

['admin', 'config', 'local', 'project_db']

## 2. Create Collection

In [19]:
collection_user = db['user_details']
collection_variables = db['Project_variables']
collection_result = db['extracted_result']
collection_action_movies = db['action_movies']
collection_iris = db['iris_data']
collection_emp_data = db['emp_data']

### Check Collection

In [139]:
collections_list = db.list_collection_names()
collections_list

['user_details', 'emp_data']

### 3. Insert Document

In [ ]:
Document >> Record >> Rows

#### 3.1 insert_one()

In [ ]:
collection.insert_one(query)

In [22]:
collection_user.insert_one({"Name" : "Virat Kohli", 
                           'Mobile Number' : 9988776655,
                           'Password':12345,
                           'email_id':'virat_kohli@gmail.com',
                           'Location': 'Delhi'})

In [23]:
collection_user.insert_one({"Name" : "Rohit Sharma", 
                           'Mobile Number' : 8888776655,
                           'Password':12345,
                           'email_id':'rohit_sharma@gmail.com',
                           'Location': 'Mumbai'})

In [24]:
collection_user.insert_one({"Name" : "Rohit Sharma", 
                           'Mobile Number' : 8888776655,
                           'Password':23456789,
                           'email_id':'rohit.sharma@gmail.com',
                           'Place': 'Mumbai'})

### 3.2. Insert_many()

Used to insert multiple records

query >> List of dict
collection.insert_many(query)

In [25]:
collection_user.insert_many([{"Name" : "Rohit Sharma", 
                           'Mobile Number' : 9888776655,
                           'Password':"ASDFGGHJK",
                           'email_id':'rohit_sharma@gmail.com',
                           'Location': 'Mumbai'},
                             
                            {"Name" : "Virat Kohli", 
                           'Mobile Number' : 9588776655,
                           'Password':9876543,
                           'email_id':'virat_kohli@gmail.com',
                           'Location': 'Delhi'},
                            
                            {"Name" : "Shikhar Dhawan", 
                           'Mobile Number' : 9988776655,
                           'Password':12345,
                           'email_id':'Shikhar_Dhawan@gmail.com',
                           'Location': 'Panjab'}])

In [16]:
import pandas as pd

emp_df = pd.read_csv('Emp_data.csv', usecols=['Emp ID','First Name','Salary','City']).head(10)
emp_df

   Emp ID First Name  Salary            City
0  677509       Lois  168251          Denver
1  940761     Brenda   51063       Stonewall
2  428945        Joe   50155    Michigantown
3  408351      Diane  180294        Hydetown
4  193819   Benjamin  117642         Fremont
5  499687    Patrick   72305       Macksburg
6  539712      Nancy   98189         Atlanta
7  380086      Carol   60918     Blanchester
8  477616    Frances  121587         Delmita
9  162402      Diana   43010  Eureka Springs

In [124]:
emp_data = emp_df.to_dict(orient = 'records')

In [125]:
collection_emp_data.insert_many(emp_data)

### 2. Find

#### 2.1 find_one()

In [ ]:
It is used to select data from collection and it return only first occurenc

collection.find_one({})

In [27]:
collection_user.find_one({"Name":'Virat Kohli'})

{'_id': ObjectId('6392b28b4c7be5dac6cf3a6c'),
 'Name': 'Virat Kohli',
 'Mobile Number': 9988776655,
 'Password': 12345,
 'email_id': 'virat_kohli@gmail.com',
 'Location': 'Delhi'}

In [28]:
collection_user.find_one({"Name":'Rohit Sharma'})

{'_id': ObjectId('6392b28d4c7be5dac6cf3a6d'),
 'Name': 'Rohit Sharma',
 'Mobile Number': 8888776655,
 'Password': 12345,
 'email_id': 'rohit_sharma@gmail.com',
 'Location': 'Mumbai'}

In [30]:
collection_user.find_one({"Name":'Rohit Sharma'})

{'_id': ObjectId('6392b28d4c7be5dac6cf3a6d'),
 'Name': 'Rohit Sharma',
 'Mobile Number': 9801234567,
 'Password': 12345,
 'email_id': 'rohit_sharma@gmail.com',
 'Location': 'Mumbai'}

In [32]:
collection_user.find_one({"email_id":'rohit_sharma@gmail.com'})

{'_id': ObjectId('6392b28d4c7be5dac6cf3a6d'),
 'Name': 'Rohit Sharma',
 'Mobile Number': 9801234567,
 'Password': 12345,
 'email_id': 'rohit_sharma@gmail.com',
 'Location': 'Mumbai'}

In [33]:
collection_user.find_one({"Name":'Rohit Sharma',
                         'Mobile Number':8888776655})

{'_id': ObjectId('6392b29c4c7be5dac6cf3a6e'),
 'Name': 'Rohit Sharma',
 'Mobile Number': 8888776655,
 'Password': 23456789,
 'email_id': 'rohit.sharma@gmail.com',
 'Place': 'Mumbai'}

In [37]:
query = {"Emp ID":499687}
collection_emp_data.find_one(query)

{'_id': ObjectId('6392b1d24c7be5dac6cf3a67'),
 'Emp ID': 499687,
 'First Name': 'Patrick',
 'Salary': 72305,
 'City': 'Macksburg'}

#### 2.2 Find

In [ ]:
collection.find()

In [42]:
data = collection_user.find()
list(data)

[{'_id': ObjectId('6392b28b4c7be5dac6cf3a6c'),
  'Name': 'Virat Kohli',
  'Mobile Number': 9988776655,
  'Password': 12345,
  'email_id': 'virat_kohli@gmail.com',
  'Location': 'Delhi'},
 {'_id': ObjectId('6392b28d4c7be5dac6cf3a6d'),
  'Name': 'Rohit Sharma',
  'Mobile Number': 9801234567,
  'Password': 12345,
  'email_id': 'rohit_sharma@gmail.com',
  'Location': 'Mumbai'},
 {'_id': ObjectId('6392b29c4c7be5dac6cf3a6e'),
  'Name': 'Rohit Sharma',
  'Mobile Number': 8888776655,
  'Password': 23456789,
  'email_id': 'rohit.sharma@gmail.com',
  'Place': 'Mumbai'},
 {'_id': ObjectId('6392b2bb4c7be5dac6cf3a6f'),
  'Name': 'Rohit Sharma',
  'Mobile Number': 9888776655,
  'Password': 'ASDFGGHJK',
  'email_id': 'rohit_sharma@gmail.com',
  'Location': 'Mumbai'},
 {'_id': ObjectId('6392b2bb4c7be5dac6cf3a70'),
  'Name': 'Virat Kohli',
  'Mobile Number': 9588771234,
  'Password': 9876543,
  'email_id': 'virat_kohli@gmail.com',
  'Location': 'Delhi'},
 {'_id': ObjectId('6392b2bb4c7be5dac6cf3a71'),
  'Name': 'Shikhar Dhawan',
  'Mobile Number': 9234566655,
  'Password': 12345,
  'email_id': 'Shikhar_Dhawan@gmail.com',
  'Location': 'Panjab'}]

In [44]:
data = collection_user.find({"Name": 'Rohit Sharma'})
list(data)

[{'_id': ObjectId('6392b28d4c7be5dac6cf3a6d'),
  'Name': 'Rohit Sharma',
  'Mobile Number': 9801234567,
  'Password': 12345,
  'email_id': 'rohit_sharma@gmail.com',
  'Location': 'Mumbai'},
 {'_id': ObjectId('6392b2bb4c7be5dac6cf3a6f'),
  'Name': 'Rohit Sharma',
  'Mobile Number': 9888776655,
  'Password': 'ASDFGGHJK',
  'email_id': 'rohit_sharma@gmail.com',
  'Location': 'Mumbai'}]

In [46]:
data = collection_user.find({"Location": 'Mumbai'})
list(data)

[{'_id': ObjectId('6392b28d4c7be5dac6cf3a6d'),
  'Name': 'Rohit Sharma',
  'Mobile Number': 9801234567,
  'Password': 12345,
  'email_id': 'rohit_sharma@gmail.com',
  'Location': 'Mumbai'},
 {'_id': ObjectId('6392b2bb4c7be5dac6cf3a6f'),
  'Name': 'Rohit Sharma',
  'Mobile Number': 9888776655,
  'Password': 'ASDFGGHJK',
  'email_id': 'rohit_sharma@gmail.com',
  'Location': 'Mumbai'}]

In [47]:
collection_user.insert_one({"Name" : "Sachin", 
                           'Mobile Number' : 8765432123,
                           'Password':"SachinT",
                           'email_id':'sachin@gmail.com',
                           'Location': 'Mumbai'})

In [49]:
data = collection_user.find({"Location": 'Mumbai'})
list(data)

[{'_id': ObjectId('6392b28d4c7be5dac6cf3a6d'),
  'Name': 'Rohit Sharma',
  'Mobile Number': 9801234567,
  'Password': 12345,
  'email_id': 'rohit_sharma@gmail.com',
  'Location': 'Mumbai'},
 {'_id': ObjectId('6392b2bb4c7be5dac6cf3a6f'),
  'Name': 'Rohit Sharma',
  'Mobile Number': 9888776655,
  'Password': 'ASDFGGHJK',
  'email_id': 'rohit_sharma@gmail.com',
  'Location': 'Mumbai'},
 {'_id': ObjectId('6392b5304c7be5dac6cf3a72'),
  'Name': 'Sachin',
  'Mobile Number': 8765432123,
  'Password': 'SachinT',
  'email_id': 'sachin@gmail.com',
  'Location': 'Mumbai'}]

In [ ]:
data = collection_user.find({"Location": 'Mumbai'})
list(data)

In [51]:
emp_df

   Emp ID First Name  Salary            City
0  677509       Lois  168251          Denver
1  940761     Brenda   51063       Stonewall
2  428945        Joe   50155    Michigantown
3  408351      Diane  180294        Hydetown
4  193819   Benjamin  117642         Fremont
5  499687    Patrick   72305       Macksburg
6  539712      Nancy   98189         Atlanta
7  380086      Carol   60918     Blanchester
8  477616    Frances  121587         Delmita
9  162402      Diana   43010  Eureka Springs

In [53]:
data = collection_user.find({"Location": 'Mumbai', 'Name':'Sachin'})
list(data)

[{'_id': ObjectId('6392b5304c7be5dac6cf3a72'),
  'Name': 'Sachin',
  'Mobile Number': 8765432123,
  'Password': 'SachinT',
  'email_id': 'sachin@gmail.com',
  'Location': 'Mumbai'}]

In [55]:
data = collection_user.find()
list(data)

[{'_id': ObjectId('6392b28b4c7be5dac6cf3a6c'),
  'Name': 'Virat Kohli',
  'Mobile Number': 9988776655,
  'Password': 12345,
  'email_id': 'virat_kohli@gmail.com',
  'Location': 'Delhi'},
 {'_id': ObjectId('6392b28d4c7be5dac6cf3a6d'),
  'Name': 'Rohit Sharma',
  'Mobile Number': 9801234567,
  'Password': 12345,
  'email_id': 'rohit_sharma@gmail.com',
  'Location': 'Mumbai'},
 {'_id': ObjectId('6392b2bb4c7be5dac6cf3a6f'),
  'Name': 'Rohit Sharma',
  'Mobile Number': 9888776655,
  'Password': 'ASDFGGHJK',
  'email_id': 'rohit_sharma@gmail.com',
  'Location': 'Mumbai'},
 {'_id': ObjectId('6392b2bb4c7be5dac6cf3a70'),
  'Name': 'Virat Kohli',
  'Mobile Number': 9588771234,
  'Password': 9876543,
  'email_id': 'virat_kohli@gmail.com',
  'Location': 'Delhi'},
 {'_id': ObjectId('6392b2bb4c7be5dac6cf3a71'),
  'Name': 'Shikhar Dhawan',
  'Mobile Number': 9234566655,
  'Password': 12345,
  'email_id': 'Shikhar_Dhawan@gmail.com',
  'Location': 'Panjab'},
 {'_id': ObjectId('6392b5304c7be5dac6cf3a72'),
  'Name': 'Sachin',
  'Mobile Number': 8765432123,
  'Password': 'SachinT',
  'email_id': 'sachin@gmail.com',
  'Location': 'Mumbai'}]

In [60]:

data = collection_user.find({}, {'_id' : 0,'email_id':0,'Password':0})
list(data)

[{'Name': 'Virat Kohli', 'Mobile Number': 9988776655, 'Location': 'Delhi'},
 {'Name': 'Rohit Sharma', 'Mobile Number': 9801234567, 'Location': 'Mumbai'},
 {'Name': 'Rohit Sharma', 'Mobile Number': 9888776655, 'Location': 'Mumbai'},
 {'Name': 'Virat Kohli', 'Mobile Number': 9588771234, 'Location': 'Delhi'},
 {'Name': 'Shikhar Dhawan', 'Mobile Number': 9234566655, 'Location': 'Panjab'},
 {'Name': 'Sachin', 'Mobile Number': 8765432123, 'Location': 'Mumbai'}]

In [62]:

data = collection_user.find({}, {'_id' : 0,'Name':1,'Location':1})
list(data)

[{'Name': 'Virat Kohli', 'Location': 'Delhi'},
 {'Name': 'Rohit Sharma', 'Location': 'Mumbai'},
 {'Name': 'Rohit Sharma', 'Location': 'Mumbai'},
 {'Name': 'Virat Kohli', 'Location': 'Delhi'},
 {'Name': 'Shikhar Dhawan', 'Location': 'Panjab'},
 {'Name': 'Sachin', 'Location': 'Mumbai'}]

# Error
data = collection_user.find({}, {'_id' : 0,'Name':1,'Location':1,'email_id':0})
list(data)

In [66]:
emp_df.columns

Index(['Emp ID', 'First Name', 'Salary', 'City'], dtype='object')

In [68]:
data = collection_emp_data.find({}, {'_id' : 0,'First Name':1,'Salary':1})
list(data)

[{'First Name': 'Lois', 'Salary': 168251},
 {'First Name': 'Brenda', 'Salary': 51063},
 {'First Name': 'Joe', 'Salary': 50155},
 {'First Name': 'Diane', 'Salary': 180294},
 {'First Name': 'Benjamin', 'Salary': 117642},
 {'First Name': 'Patrick', 'Salary': 72305},
 {'First Name': 'Nancy', 'Salary': 98189},
 {'First Name': 'Carol', 'Salary': 60918},
 {'First Name': 'Frances', 'Salary': 121587},
 {'First Name': 'Diana', 'Salary': 43010}]

In [71]:
data = collection_emp_data.find({}, {'_id' : 0,'City':0})
list(data)

[{'Emp ID': 677509, 'First Name': 'Lois', 'Salary': 168251},
 {'Emp ID': 940761, 'First Name': 'Brenda', 'Salary': 51063},
 {'Emp ID': 428945, 'First Name': 'Joe', 'Salary': 50155},
 {'Emp ID': 408351, 'First Name': 'Diane', 'Salary': 180294},
 {'Emp ID': 193819, 'First Name': 'Benjamin', 'Salary': 117642},
 {'Emp ID': 499687, 'First Name': 'Patrick', 'Salary': 72305},
 {'Emp ID': 539712, 'First Name': 'Nancy', 'Salary': 98189},
 {'Emp ID': 380086, 'First Name': 'Carol', 'Salary': 60918},
 {'Emp ID': 477616, 'First Name': 'Frances', 'Salary': 121587},
 {'Emp ID': 162402, 'First Name': 'Diana', 'Salary': 43010}]

In [74]:
data = collection_emp_data.find({}, {'_id' : 0,'Emp ID':0})
list(data)

[{'First Name': 'Lois', 'Salary': 168251, 'City': 'Denver'},
 {'First Name': 'Brenda', 'Salary': 51063, 'City': 'Stonewall'},
 {'First Name': 'Joe', 'Salary': 50155, 'City': 'Michigantown'},
 {'First Name': 'Diane', 'Salary': 180294, 'City': 'Hydetown'},
 {'First Name': 'Benjamin', 'Salary': 117642, 'City': 'Fremont'},
 {'First Name': 'Patrick', 'Salary': 72305, 'City': 'Macksburg'},
 {'First Name': 'Nancy', 'Salary': 98189, 'City': 'Atlanta'},
 {'First Name': 'Carol', 'Salary': 60918, 'City': 'Blanchester'},
 {'First Name': 'Frances', 'Salary': 121587, 'City': 'Delmita'},
 {'First Name': 'Diana', 'Salary': 43010, 'City': 'Eureka Springs'}]

In [76]:
data = collection_emp_data.find({}, {'_id' : 0,'Emp ID':0}).sort("First Name")
list(data)

[{'First Name': 'Benjamin', 'Salary': 117642, 'City': 'Fremont'},
 {'First Name': 'Brenda', 'Salary': 51063, 'City': 'Stonewall'},
 {'First Name': 'Carol', 'Salary': 60918, 'City': 'Blanchester'},
 {'First Name': 'Diana', 'Salary': 43010, 'City': 'Eureka Springs'},
 {'First Name': 'Diane', 'Salary': 180294, 'City': 'Hydetown'},
 {'First Name': 'Frances', 'Salary': 121587, 'City': 'Delmita'},
 {'First Name': 'Joe', 'Salary': 50155, 'City': 'Michigantown'},
 {'First Name': 'Lois', 'Salary': 168251, 'City': 'Denver'},
 {'First Name': 'Nancy', 'Salary': 98189, 'City': 'Atlanta'},
 {'First Name': 'Patrick', 'Salary': 72305, 'City': 'Macksburg'}]

In [78]:
data = collection_emp_data.find({}, {'_id' : 0,'Emp ID':0}).sort("Salary")
list(data)

[{'First Name': 'Diana', 'Salary': 43010, 'City': 'Eureka Springs'},
 {'First Name': 'Joe', 'Salary': 50155, 'City': 'Michigantown'},
 {'First Name': 'Brenda', 'Salary': 51063, 'City': 'Stonewall'},
 {'First Name': 'Carol', 'Salary': 60918, 'City': 'Blanchester'},
 {'First Name': 'Patrick', 'Salary': 72305, 'City': 'Macksburg'},
 {'First Name': 'Nancy', 'Salary': 98189, 'City': 'Atlanta'},
 {'First Name': 'Benjamin', 'Salary': 117642, 'City': 'Fremont'},
 {'First Name': 'Frances', 'Salary': 121587, 'City': 'Delmita'},
 {'First Name': 'Lois', 'Salary': 168251, 'City': 'Denver'},
 {'First Name': 'Diane', 'Salary': 180294, 'City': 'Hydetown'}]

In [80]:
data = collection_emp_data.find({}, {'_id' : 0,'Emp ID':0}).sort("Salary",-1)
list(data)

[{'First Name': 'Diane', 'Salary': 180294, 'City': 'Hydetown'},
 {'First Name': 'Lois', 'Salary': 168251, 'City': 'Denver'},
 {'First Name': 'Frances', 'Salary': 121587, 'City': 'Delmita'},
 {'First Name': 'Benjamin', 'Salary': 117642, 'City': 'Fremont'},
 {'First Name': 'Nancy', 'Salary': 98189, 'City': 'Atlanta'},
 {'First Name': 'Patrick', 'Salary': 72305, 'City': 'Macksburg'},
 {'First Name': 'Carol', 'Salary': 60918, 'City': 'Blanchester'},
 {'First Name': 'Brenda', 'Salary': 51063, 'City': 'Stonewall'},
 {'First Name': 'Joe', 'Salary': 50155, 'City': 'Michigantown'},
 {'First Name': 'Diana', 'Salary': 43010, 'City': 'Eureka Springs'}]

In [82]:
data = collection_emp_data.find({}, {'_id' : 0,'Emp ID':0}).sort("First Name")
list(data)

[{'First Name': 'Benjamin', 'Salary': 117642, 'City': 'Fremont'},
 {'First Name': 'Brenda', 'Salary': 51063, 'City': 'Stonewall'},
 {'First Name': 'Carol', 'Salary': 60918, 'City': 'Blanchester'},
 {'First Name': 'Diana', 'Salary': 43010, 'City': 'Eureka Springs'},
 {'First Name': 'Diane', 'Salary': 180294, 'City': 'Hydetown'},
 {'First Name': 'Frances', 'Salary': 121587, 'City': 'Delmita'},
 {'First Name': 'Joe', 'Salary': 50155, 'City': 'Michigantown'},
 {'First Name': 'Lois', 'Salary': 168251, 'City': 'Denver'},
 {'First Name': 'Nancy', 'Salary': 98189, 'City': 'Atlanta'},
 {'First Name': 'Patrick', 'Salary': 72305, 'City': 'Macksburg'}]

In [84]:
query = {"First Name":{"$regex" : "^B"}}
data = collection_emp_data.find(query, {'_id' : 0,'Emp ID':0})
list(data)

[{'First Name': 'Brenda', 'Salary': 51063, 'City': 'Stonewall'},
 {'First Name': 'Benjamin', 'Salary': 117642, 'City': 'Fremont'}]

In [86]:
query = {"First Name":{"$regex" : "^Dia"}}
data = collection_emp_data.find(query, {'_id' : 0,'Emp ID':0})
list(data)

[{'First Name': 'Diane', 'Salary': 180294, 'City': 'Hydetown'},
 {'First Name': 'Diana', 'Salary': 43010, 'City': 'Eureka Springs'}]

In [87]:
query = {"First Name":{"$regex" : "^J"}}
data = collection_emp_data.find(query, {'_id' : 0,'Emp ID':0})
list(data)

[{'First Name': 'Joe', 'Salary': 50155, 'City': 'Michigantown'}]

In [93]:
query = {"Name":{"$regex" : "^S"}}
data = collection_user.find(query, {'_id' : 0})
list(data)

[{'Name': 'Shikhar Dhawan',
  'Mobile Number': 9234566655,
  'Password': 12345,
  'email_id': 'Shikhar_Dhawan@gmail.com',
  'Location': 'Panjab'},
 {'Name': 'Sachin',
  'Mobile Number': 8765432123,
  'Password': 'SachinT',
  'email_id': 'sachin@gmail.com',
  'Location': 'Mumbai'}]

In [95]:
query = {"Name":{"$regex" : "^Sachin"}}
data = collection_user.find(query, {'_id' : 0})
list(data)

[{'Name': 'Sachin',
  'Mobile Number': 8765432123,
  'Password': 'SachinT',
  'email_id': 'sachin@gmail.com',
  'Location': 'Mumbai'}]

In [97]:
query = {"Name":{"$regex" : "Sachin$"}}
data = collection_user.find(query, {'_id' : 0})
list(data)

[{'Name': 'Sachin',
  'Mobile Number': 8765432123,
  'Password': 'SachinT',
  'email_id': 'sachin@gmail.com',
  'Location': 'Mumbai'}]

In [99]:
query = {"Location":{"$regex" : "i$"}}
data = collection_user.find(query, {'_id' : 0})
list(data)

[{'Name': 'Virat Kohli',
  'Mobile Number': 9988776655,
  'Password': 12345,
  'email_id': 'virat_kohli@gmail.com',
  'Location': 'Delhi'},
 {'Name': 'Rohit Sharma',
  'Mobile Number': 9801234567,
  'Password': 12345,
  'email_id': 'rohit_sharma@gmail.com',
  'Location': 'Mumbai'},
 {'Name': 'Rohit Sharma',
  'Mobile Number': 9888776655,
  'Password': 'ASDFGGHJK',
  'email_id': 'rohit_sharma@gmail.com',
  'Location': 'Mumbai'},
 {'Name': 'Virat Kohli',
  'Mobile Number': 9588771234,
  'Password': 9876543,
  'email_id': 'virat_kohli@gmail.com',
  'Location': 'Delhi'},
 {'Name': 'Sachin',
  'Mobile Number': 8765432123,
  'Password': 'SachinT',
  'email_id': 'sachin@gmail.com',
  'Location': 'Mumbai'}]

In [101]:
query = {"Location":{"$regex" : "Mumbai$"}}
data = collection_user.find(query, {'_id' : 0})
list(data)

[{'Name': 'Rohit Sharma',
  'Mobile Number': 9801234567,
  'Password': 12345,
  'email_id': 'rohit_sharma@gmail.com',
  'Location': 'Mumbai'},
 {'Name': 'Rohit Sharma',
  'Mobile Number': 9888776655,
  'Password': 'ASDFGGHJK',
  'email_id': 'rohit_sharma@gmail.com',
  'Location': 'Mumbai'},
 {'Name': 'Sachin',
  'Mobile Number': 8765432123,
  'Password': 'SachinT',
  'email_id': 'sachin@gmail.com',
  'Location': 'Mumbai'}]

In [103]:
emp_df

   Emp ID First Name  Salary            City
0  677509       Lois  168251          Denver
1  940761     Brenda   51063       Stonewall
2  428945        Joe   50155    Michigantown
3  408351      Diane  180294        Hydetown
4  193819   Benjamin  117642         Fremont
5  499687    Patrick   72305       Macksburg
6  539712      Nancy   98189         Atlanta
7  380086      Carol   60918     Blanchester
8  477616    Frances  121587         Delmita
9  162402      Diana   43010  Eureka Springs

In [107]:
query = {"First Name":{"$gt" : "D"}}
data = collection_emp_data.find(query, {'_id' : 0,'Emp ID':0}).sort('First Name')
list(data)

[{'First Name': 'Diana', 'Salary': 43010, 'City': 'Eureka Springs'},
 {'First Name': 'Diane', 'Salary': 180294, 'City': 'Hydetown'},
 {'First Name': 'Frances', 'Salary': 121587, 'City': 'Delmita'},
 {'First Name': 'Joe', 'Salary': 50155, 'City': 'Michigantown'},
 {'First Name': 'Lois', 'Salary': 168251, 'City': 'Denver'},
 {'First Name': 'Nancy', 'Salary': 98189, 'City': 'Atlanta'},
 {'First Name': 'Patrick', 'Salary': 72305, 'City': 'Macksburg'}]

In [110]:
query = {"Salary":{"$gt" : 50155}}
data = collection_emp_data.find(query, {'_id' : 0,'Emp ID':0}).sort('Salary')
list(data)

[{'First Name': 'Brenda', 'Salary': 51063, 'City': 'Stonewall'},
 {'First Name': 'Carol', 'Salary': 60918, 'City': 'Blanchester'},
 {'First Name': 'Patrick', 'Salary': 72305, 'City': 'Macksburg'},
 {'First Name': 'Nancy', 'Salary': 98189, 'City': 'Atlanta'},
 {'First Name': 'Benjamin', 'Salary': 117642, 'City': 'Fremont'},
 {'First Name': 'Frances', 'Salary': 121587, 'City': 'Delmita'},
 {'First Name': 'Lois', 'Salary': 168251, 'City': 'Denver'},
 {'First Name': 'Diane', 'Salary': 180294, 'City': 'Hydetown'}]

In [112]:
query = {"Salary":{"$gt" : 90000}}
data = collection_emp_data.find(query, {'_id' : 0,'Emp ID':0}).sort('Salary')
list(data)

[{'First Name': 'Nancy', 'Salary': 98189, 'City': 'Atlanta'},
 {'First Name': 'Benjamin', 'Salary': 117642, 'City': 'Fremont'},
 {'First Name': 'Frances', 'Salary': 121587, 'City': 'Delmita'},
 {'First Name': 'Lois', 'Salary': 168251, 'City': 'Denver'},
 {'First Name': 'Diane', 'Salary': 180294, 'City': 'Hydetown'}]

In [114]:
query = {"Salary":{"$lt" : 90000}}
data = collection_emp_data.find(query, {'_id' : 0,'Emp ID':0}).sort('Salary')
list(data)

[{'First Name': 'Diana', 'Salary': 43010, 'City': 'Eureka Springs'},
 {'First Name': 'Joe', 'Salary': 50155, 'City': 'Michigantown'},
 {'First Name': 'Brenda', 'Salary': 51063, 'City': 'Stonewall'},
 {'First Name': 'Carol', 'Salary': 60918, 'City': 'Blanchester'},
 {'First Name': 'Patrick', 'Salary': 72305, 'City': 'Macksburg'}]

In [153]:
data = collection_emp_data.find({"_id":'6392b9c84c7be5dac6cf3a74'})
list(data)

[]

In [150]:
data = collection_emp_data.find()
list(data)

[{'_id': ObjectId('6392b9c84c7be5dac6cf3a74'),
  'Emp ID': 940761,
  'First Name': 'Brenda',
  'Salary': 51063,
  'City': 'Stonewall'},
 {'_id': ObjectId('6392b9c84c7be5dac6cf3a75'),
  'Emp ID': 428945,
  'First Name': 'Joe',
  'Salary': 50155,
  'City': 'Michigantown'},
 {'_id': ObjectId('6392b9c84c7be5dac6cf3a77'),
  'Emp ID': 193819,
  'First Name': 'Benjamin',
  'Salary': 100000,
  'City': 'Paris'},
 {'_id': ObjectId('6392b9c84c7be5dac6cf3a78'),
  'Emp ID': 499687,
  'First Name': 'Patrick',
  'Salary': 72305,
  'City': 'Macksburg'},
 {'_id': ObjectId('6392b9c84c7be5dac6cf3a79'),
  'Emp ID': 539712,
  'First Name': 'Nancy',
  'Salary': 100000,
  'City': 'Paris'},
 {'_id': ObjectId('6392b9c84c7be5dac6cf3a7a'),
  'Emp ID': 380086,
  'First Name': 'Carol',
  'Salary': 60918,
  'City': 'Blanchester'},
 {'_id': ObjectId('6392b9c84c7be5dac6cf3a7b'),
  'Emp ID': 477616,
  'First Name': 'Frances',
  'Salary': 100000,
  'City': 'Paris'},
 {'_id': ObjectId('6392b9c84c7be5dac6cf3a7c'),
  'Emp ID': 162402,
  'First Name': 'Diana',
  'Salary': 43010,
  'City': 'Paris'}]

### 5. Delete

#### 5.1 Delete_one

In [ ]:
collection_user.delete_one()

In [115]:
collection_user.delete_one({'Name':'Rohit Sharma'})

In [116]:
collection_user.delete_one({'Location':'Mumbai'})

### 5.2 delete_many

In [ ]:
collection.delete_many(query)

In [120]:
collection_user.delete_many({"Location":"Delhi"})

In [121]:
emp_df

   Emp ID First Name  Salary            City
0  677509       Lois  168251          Denver
1  940761     Brenda   51063       Stonewall
2  428945        Joe   50155    Michigantown
3  408351      Diane  180294        Hydetown
4  193819   Benjamin  117642         Fremont
5  499687    Patrick   72305       Macksburg
6  539712      Nancy   98189         Atlanta
7  380086      Carol   60918     Blanchester
8  477616    Frances  121587         Delmita
9  162402      Diana   43010  Eureka Springs

In [126]:
query = {"Salary":{"$gt" : 150000}}
collection_emp_data.delete_many(query)

### 6. Update

#### 6.1 update_one()

In [ ]:
collection.update_one(old_data_query , new_data_query)

In [132]:
data = list(collection_emp_data.find({},{'_id':0,'Emp ID':0}))
data

[{'First Name': 'Brenda', 'Salary': 51063, 'City': 'Stonewall'},
 {'First Name': 'Joe', 'Salary': 50155, 'City': 'Michigantown'},
 {'First Name': 'Benjamin', 'Salary': 117642, 'City': 'Fremont'},
 {'First Name': 'Patrick', 'Salary': 72305, 'City': 'Macksburg'},
 {'First Name': 'Nancy', 'Salary': 98189, 'City': 'Atlanta'},
 {'First Name': 'Carol', 'Salary': 60918, 'City': 'Blanchester'},
 {'First Name': 'Frances', 'Salary': 121587, 'City': 'Delmita'},
 {'First Name': 'Diana', 'Salary': 43010, 'City': 'Eureka Springs'}]

In [134]:
old_data_query = {"City":"Eureka Springs"}
new_data_query = {"$set":{"City":"Paris"}}
collection_emp_data.update_one(old_data_query,new_data_query)

In [135]:
old_data_query = {"Salary":{"$gt" : 90000}}

new_data_query = {"$set":{"City":"Paris"}}
collection_emp_data.update_one(old_data_query,new_data_query)

### 6.2 update_many()

In [136]:
old_data_query = {"Salary":{"$gt" : 90000}}

new_data_query = {"$set":{"City":"Paris"}}
collection_emp_data.update_many(old_data_query,new_data_query)

In [137]:
old_data_query = {"Salary":{"$gt" : 90000}}

new_data_query = {"$set":{"Salary":100000}}
collection_emp_data.update_many(old_data_query,new_data_query)

In [141]:
data = list(collection_emp_data.find({},{'_id':0,'Emp ID':0}))
data

[{'First Name': 'Brenda', 'Salary': 51063, 'City': 'Stonewall'},
 {'First Name': 'Joe', 'Salary': 50155, 'City': 'Michigantown'},
 {'First Name': 'Benjamin', 'Salary': 100000, 'City': 'Paris'},
 {'First Name': 'Patrick', 'Salary': 72305, 'City': 'Macksburg'},
 {'First Name': 'Nancy', 'Salary': 100000, 'City': 'Paris'},
 {'First Name': 'Carol', 'Salary': 60918, 'City': 'Blanchester'},
 {'First Name': 'Frances', 'Salary': 100000, 'City': 'Paris'},
 {'First Name': 'Diana', 'Salary': 43010, 'City': 'Paris'}]

## Create DataFrame from Data

In [143]:
pd.DataFrame(data)

  First Name  Salary          City
0     Brenda   51063     Stonewall
1        Joe   50155  Michigantown
2   Benjamin  100000         Paris
3    Patrick   72305     Macksburg
4      Nancy  100000         Paris
5      Carol   60918   Blanchester
6    Frances  100000         Paris
7      Diana   43010         Paris

In [144]:
pd.DataFrame(data)

  First Name  Salary          City
0     Brenda   51063     Stonewall
1        Joe   50155  Michigantown
2   Benjamin  100000         Paris
3    Patrick   72305     Macksburg
4      Nancy  100000         Paris
5      Carol   60918   Blanchester
6    Frances  100000         Paris
7      Diana   43010         Paris